POSTGRES_DB=postgres_db
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password

AUTH_DB=auth_db
AUTH_DB_USER=auth_user
AUTH_DB_PASSWORD=auth_password

CUSTOMER_DB=customer_db
CUSTOMER_DB_USER=customer_user
CUSTOMER_DB_PASSWORD=customer_password
