{{define "subject"}}Welcome to Sky Bank!{{end}}

{{define "plainBody"}}
You confim your email!

Sky Bank services:
1) -
2) -
3) -

Thanks,

The Sky Bank Team
{{end}}


{{define "htmlBody"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>You confim your email!</p>

    <p>Sky Bank services:</p>
    <p>1) -</p>
    <p>2) -</p>
    <p>3) -</p>

    <p>Thanks,</p>
    <p>The Sky Bank Team</p>

</body>

</html>
{{end}}
